<h1>背徳の育成ゲーム</h1>

<% if current_user.character.present? %>
  <div class="character-info">
    <h2><%= current_user.character.name %> (Lv.<%= current_user.character.level %>)</h2>
    <p>現在の経験値: <%= current_user.character.exp %></p>
  </div>
<% else %>
  <p>キャラクターを準備中です...</p>
<% end %>

<h2>学習ルーティン一覧</h2>

<%# ルーティン登録画面へのリンク %>
<%= link_to "新しいルーティンを登録する", new_routine_path %>

<%# ルーティンの一覧を表示 %>
<% if @routines.present? %>
  <ul>
    <% @routines.each do |routine| %>
      <li>
        <%# ルーティンの内容をクリックすると詳細へ飛ぶようにする %>
        <%= link_to routine.content, routine_path(routine) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>まだルーティンが登録されていません。まずは登録してみましょう！</p>
<% end %>